main ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20vw);
    grid-gap: 15px;
}

img{
    display: none;
    overflow: hidden;
    height: 100%;
    z-index: 1;
}

#B1,#B2,#B3,#B4,#B5,#B6,#B7,#B8{
   background-color: green;
}

#Reset{
    visibility: hidden;
}
#Button1,#Button2,#Button3,#Button4,#Button5,#Button6,#Button7,#Button8
{
    
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
}